<app-external-background></app-external-background>

<!-- Your other Angular app content -->
<router-outlet></router-outlet>

<div class="card flex flex-col p-12 w-[460px]">
    <span class="flex flex-row mt-[32px] items-center">
        <p class="text-slate-50 prose text-xl ">Hi! my name is </p>
        <p class="text-slate-50 prose text-[42px] text-bold mx-2 ">Payam</p>
    </span>
   
    <span class="flex flex-row mt-[32px]">
        <p class="text-slate-50 prose text-xl ">Im a </p>
        <p class="text-slate-50 prose text-[42px] mx-2">CREATIVE</p>
        <p class="text-slate-50 prose text-xl ">Developer </p>

    </span>
     
</div>